<!DOCTYPE html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
<script src="https://cpettitt.github.io/project/graphlib-dot/v0.5.2/graphlib-dot.js"></script>
<script src="https://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"></script>

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{siteTitle}}</title>

  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="all" rel="stylesheet" />
  <link href="/css/app.css" media="all" rel="stylesheet" />
  <link href="/css/graph.css" media="all" rel="stylesheet" />
</head>

<body lang="en">

  <div id="canvas" class="container">
        {{{body}}}
  </div>

</body>

<script src="/js/ios-orientationchange-fix.js"></script>
<script src="/bower_components/jquery/jquery.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/js/graph.js" type="text/javascript"></script>

</html>
