<div class="row">
    <h1>Welcome!</h1>
    <h2>Here you can {{siteTitle}}</h2>
    <p>You can find the code for the project on <a href="{{githubURL}}">github</a>.</p>
    <svg id="graphContainer"><g/></svg>

    <a href="">Download the graph</a>
</div>
